@model  UpdateMe.Data.Models.DataModels.AssignmentFormViewModel
@{
    ViewBag.Title = "AssignCourse";
}

<h2>Employees</h2>

@using (Html.BeginForm("AssignCourse", "Admin", FormMethod.Post))
{
    
    <table id="employees" class="table table-bordered table-hover">
        <thead>
            <tr>
                
                <th><input name="select_all" value="1" type="checkbox"></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>User Name</th>
                <th>Department Role</th>
            </tr>
        </thead>
        <tbody>
            @Html.AntiForgeryToken()
            @for (int i = 0; i < Model.UserViewModelsTwo.Count(); i++)
            {
                <tr>
                    @Html.HiddenFor(m => m.UserViewModelsTwo[i].Id)
                    @Html.HiddenFor(m => @Model.UserViewModelsTwo[i].FirstName)
                    @Html.HiddenFor(m => @Model.UserViewModelsTwo[i].LastName)
                    @Html.HiddenFor(m => @Model.UserViewModelsTwo[i].Username)
                    @Html.HiddenFor(m => @Model.UserViewModelsTwo[i].Position)
                    <td>@Html.CheckBoxFor(m => Model.UserViewModelsTwo[i].IsChecked)</td>
                    <td>@Model.UserViewModelsTwo[i].FirstName</td>
                    <td>@Model.UserViewModelsTwo[i].LastName</td>
                    <td>@Model.UserViewModelsTwo[i].Username</td>
                    <td>@Model.UserViewModelsTwo[i].Position</td>
                </tr>
            }
        </tbody>
    </table>
    
    <h2>Courses</h2>

    <table id="courses" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th><input name="select_all" value="1" type="checkbox"></th>
                <th>Courses</th>
                <th>Pass Score</th>
                <th>Due Date</th>
                <th>Mandatory</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.CourseViewModels.Count(); i++)
            {
                <tr>
                    @Html.HiddenFor(m => m.CourseViewModels[i].Id)
                    @Html.HiddenFor(m => @Model.CourseViewModels[i].Name)
                    @Html.HiddenFor(m => @Model.CourseViewModels[i].PassScore)
                    <td>@Html.CheckBoxFor(m => Model.CourseViewModels[i].IsChecked)</td>
                    <td>@Model.CourseViewModels[i].Name</td>
                    <td>@Model.CourseViewModels[i].PassScore</td>
                    <td>
                        @Html.EditorFor(m => m.Assignments[i].DueDate, "Date")
                        @Html.ValidationMessageFor(m => m.Assignments[i].DueDate)
                    </td>
                    <td>@Html.EditorFor(m => m.Assignments[i].IsMandatory)</td>
                </tr>
            }
        </tbody>
    </table>
    
    <input class="btn btn-primary" type="submit" value="Assign" />

    @Html.AntiForgeryToken()


    <br><br>
    @ViewBag.Message

}

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#employees').DataTable()
            $('#courses').DataTable()
        });
    </script>
}



