@model IEnumerable<UpdateMe.Areas.Admin.Models.CourseViewModel>

@{
    ViewBag.Title = "Courses";

}

<h2>Courses</h2>
<p>
    @Html.ActionLink("Upload Course", "UploadCourse", "Admin", null, new { @class = "btn btn-primary" })
</p>

<table id="courses" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Courses</th>
            <th>Description</th>
            <th>Pass Score</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in @Model)
        {
            <tr>
                <td>@course.Name</td>
                <td>@course.Description</td>
                <td>@course.PassScore</td>
                <td>@Html.ActionLink("Edit", "EditCourse", new { id = course.Id }) </td>
                <td>@Html.ActionLink("Delete", "DeleteCourse", new { id = course.Id }) </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(function () {
            $("#courses").DataTable();
        });
    </script>
}
