@model IEnumerable<UpdateMe.Models.CourseViewModel>

@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>
<p>
    @using (Html.BeginForm("UploadCourse", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <label for="file">Select Course File:</label>

        <input class="btn btn-primary" type="file" name="file" id="file" /><br>
        <input class="btn btn-primary" type="submit" value="Upload Course" />
        <br><br>
        @ViewBag.Message
    }

</p>

<table id="courses" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Courses</th>
            <th>Description</th>
            <th>Pass Score</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in @Model)
        {
            <tr>
                <td>@course.Name</td>
                <td>@course.Description</td>
                <td>@course.PassScore</td>


                <td>
                    @Ajax.ActionLink("Edit", "EditCourse",
                    new { id = course.Id },
                    new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "editArea"
                    })
                </td>
                <td>
                    <a id="@course.Id" class="delete" href="#">Delete</a>
                    @using (Html.BeginForm("DeleteCourse", "Admin",
                new { id = course.Id },
                FormMethod.Post,
                new { id = "form-" + course.Id }))
                    {
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="editArea"></div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryajax")
    <script>
        $(function () {
            $("#courses").DataTable();

            $('a.delete').on('click', function () {
                let buttonId = $(this).attr('id')
                bootbox.confirm("Are you sure you want to delete this course?", (result) => {
                    if (result) {
                        let formIdSelector = '#form-' + buttonId
                        $(formIdSelector).submit()
                    }
                });
            })
        });
    </script>
}