@model  IEnumerable<UpdateMe.Models.AssignmentViewModel>
@{
    ViewBag.Title = "Assigned Courses";
}


<table id="courses" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Pass Score</th>
            <th>DueDate</th>
            <th>Is Mandatory</th>
            <th>Assignment Status</th>
            <th>Completion Date</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in @Model)
        {
            <tr>
                <td>@course.CourseName</td>
                <td>@course.PassScore</td>
                <td>@course.DueDate</td>
                <td>@course.IsMandatory</td>
                <td>@course.AssignmentStatus</td>
                <td>@course.CompletionDate</td>
                
                <td>
                    @*<a id="@course.Id" class="view" href="#">View</a>*@
                    @Html.ActionLink("View", "ReviewCourse", new { id = course.Id })
                    @*@using (Html.BeginForm("View", "Courses",
                new { id = course.Id },
                FormMethod.Post,
                new { id = "form-" + course.Id }))
                    {
                    }*@
                </td>

            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>

        $(function () {
            $("#courses").DataTable();

            //$('a.delete').on('click', function () {
            //    let buttonId = $(this).attr('id')
            //    bootbox.confirm("Are you sure you want to delete this course?", (result) => {
            //        if (result) {
            //            let formIdSelector = '#form-' + buttonId
            //            $(formIdSelector).submit()
            //        }
            //    });
            //})
        });
    </script>
}
