@model  List<UpdateMe.Data.Models.DataModels.AssignmentViewModel>
@{
    ViewBag.Title = "Assigned Courses";
}


<table id="courses" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Course Id</th>
            <th>DueDate</th>
            <th>Is Mandatory</th>
            <th>Assignment Status</th>
            <th>Completion Date</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in @Model)
        {
            <tr>
                @Html.HiddenFor(c => course.CourseId)
                <td>@course.CourseId</td>
                <td>@course.DueDate</td>
                <td>@course.IsMandatory</td>
                <td>@course.AssignmentStatus</td>
                <td>@course.CompletionDate</td>
                <td>
                    <button class="btn btn-info">@Html.ActionLink("Start Course", "ReviewCourse", new { id = course.CourseId })</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(function () {
            $("#courses").DataTable();

        });
    </script>
}
