@model UpdateMe.Data.Models.CourseModel
@{
    ViewBag.Title = "ReviewCourse";
}
@{
    //TODO: change assignment status
}

<table id="courses" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Pass Score</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.PassScore</td>
            <td>@Model.Description</td>
        </tr>
    </tbody>
</table>
@{
    var slides = Model.Slides;


    //var imgSrc = String.Format("data:image/gif;base64,{0}", slides[0].Base64Img);
}

@foreach (var item in @Model.Slides)
{
    var imgSrc = String.Format("data:image/gif;base64,{0}", item.Base64Img);
    <img src="@imgSrc" />

}
