@model UpdateMe.Data.Models.CourseModel
@{
    ViewBag.Title = "ReviewCourse";
    var arr = new string[@Model.Questions.Count()];
    var counter = 1;
}

@{
    var courseId = Model.Id;
}


<div>

    @using (Html.BeginForm("TakeQuiz", "Courses", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        for (int i = 0; i < Model.Questions.Count; i++)
        {

            @Html.HiddenFor(m => Model.Questions[i].Id)
            <div align="center">
                <h3>@Model.Questions[i].QuestionText</h3>

                    Select Answer: <br />
                    


                    @for (int j = 0; j < Model.Questions[i].Answers.Length; j++)
                    {
                        <label>
                            @Model.Questions[i].Answers[j];
                            @Html.RadioButtonFor(m => Model.Questions[i].SelectedAnwser, Model.Questions[i].Answers[j])<br />
                        </label>
                    }



                </div>
        }

        <div align="center"><input type="submit" value="Save" /></div>
    }

    
</div>
<br>