@model List<UpdateMe.Models.QestionViewModel>
@{
    ViewBag.Title = "Quiz";
}

<h2>@ViewBag.Title.</h2>
<div>
    @using (Html.BeginForm("TakeQuiz", "Courses", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        for (int i = 0; i < Model.Count; i++)
        {
            @Html.HiddenFor(m => Model[i].Id)
            @Html.HiddenFor(m => Model[i].CorrectAnswer)
            @Html.HiddenFor(m => Model[i].CourseId)
            <div>
                <h4>@Model[i].QuestionText</h4>

                @for (int j = 0; j < Model[i].Answers.Length; j++)
                    {
                    <label>
                        @Html.RadioButtonFor(m => Model[i].SelectedAnwser, Model[i].Answers[j])
                        @Model[i].Answers[j];
                    </label><br />
                }
            </div><br />
        }
        <div><input type="submit" value="Submit" /></div>
    }
</div>
<br>