@model List<UpdateMe.Data.Models.CourseViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UPDATE ME</h1>
    <p class="lead">Corporate learning system</p>
    <p><a href="/courses/listusercourses" class="btn btn-primary btn-lg">Start Now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Model[0].Name</h2>
        <p>
            @Model[0].Description
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Model[1].Name</h2>
        <p>
            @Model[1].Description
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Model[2].Name</h2>
        <p>
            @Model[2].Description
        </p>
    </div>
</div>