@model ICollection<UpdateMe.Models.AssignmentViewModel>

<h3>Assignments of <strong>@Model.FirstOrDefault().ApplicationUser.UserName</strong></h3>
<table id="assignments" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Course</th>
            <th>Due Date</th>
            <th>Mandatory</th>
            <th>Assignment Status</th>
            <th>Completion Date</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var assignment in @Model)
            {
            <tr>
                @Html.HiddenFor(c => assignment.CourseId)
                <td>@assignment.CourseName</td>
                <td>@assignment.DueDate.Value.ToShortDateString()</td>
                <td>@assignment.IsMandatory</td>
                <td>@assignment.AssignmentStatus</td>
                <td>@if (assignment.CompletionDate == null)
                {
                    <span>Not completed</span>;
                }
                else
                {
                    <span>@assignment.CompletionDate.Value.ToShortDateString()</span>
                }
                </td>
                <td>
                    @Ajax.ActionLink("Delete", "DeleteAssignment", new { id = assignment.Id, currentUserId = assignment.ApplicationUserId },
                    new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "editArea"
                    })
                </td>            
            </tr>
        }
    </tbody>
</table>


@section scripts
{
    <script>
        $(function () {
            $("#assignments").DataTable();

        });
    </script>
}