@model UpdateMe.Data.Models.CourseViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    //TODO: design edit
}
<h3>Edit course:</h3>
@using (Html.BeginForm("EditCourse", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description)
    </div>
    <div>
        @Html.LabelFor(m => m.PassScore)
        @Html.EditorFor(m => m.PassScore)
    </div>
    <div>
        <input type="submit" value="Save" />
    </div>
}

